/* common */
.jumbotron {
  background-position: center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding-right: 3%;
  padding-left: 3%;
}
.jumbotron#summerPoster {
  background-image: url("https://s3-us-west-2.amazonaws.com/deadco.show/2017Summer/posters/poster_2017_summer.jpg");
}

/* Tour */
.show-card {
  border: 2px solid #4fc08d;
  border-radius: 4px;
  padding: 5px;
  padding-bottom: 10px;
  cursor: pointer;
  min-height:240px;
}
.poster-thumbnail {
  width: 100%;
  max-height: 80%;
}
@media screen and (min-width: 768px) {
  .show-card {
    height: 680px;
  }
  .poster-thumbnail {
    max-height: 660px;
  }
}
@media screen and (min-width: 992px) {
  .show-card {
    height: 240px;
  }
  .poster-thumbnail {
    max-height: 220px;
    /*position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
  }
}

/* Show */
#playlist, audio {
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 24px;
}
ul {
  list-style: none;
}
.active a {
  color:#5DB0E6;
  text-decoration:none;
  background-color: #444;
}
li a {
  color:#eeeedd;
  background:#333;
  padding:10px;
  display:block;
}
li a:hover {
  text-decoration:none;
  background-color: #555;
}
/*@include media-breakpoint-up(sm) {
  @media (min-width: 800px){
  #playlist {
    font-size: 24px;
  }
}
@include media-breakpoint-up(md) {
  #playlist {
    font-size: 20px;
  }
}
@include media-breakpoint-up(lg) {
  #playlist {
    font-size: 38px;
  }
}*/
