.jumbotron {
  background-position: center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
.jumbotron#summerPoster {
  /*background-image: url("http://deadco.show/src/assets/posters/poster_2017_summer.jpg");*/
  background-image: url("../assets/posters/poster_2017_summer.jpg");
}
.jumbotron#show-20170527 {
  background-image: url("../assets/posters/poster_20170527b_lasvegas.jpg");
}
#playlist, audio {
  /*background:#666;*/
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;

}
ul {
  list-style: none;
}
.active a {
  color:#5DB0E6;
  text-decoration:none;
  background-color: #444;
}
li a {
  color:#eeeedd;
  background:#333;
  padding:10px;
  display:block;
}
li a:hover {
  text-decoration:none;
  background-color: #555;
}
/*li:nth-child(even) a {
  background-color: #555;
}*/
.show-card {
  border: 2px solid #4fc08d;
  border-radius: 4px;
  padding: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}
.poster-thumbnail {
  width: 100%;
  height: auto;
}
